.content {
  composes: pt-10 pb-5 text_type_main-large text_color_primary from global;
  width: 1240px;
  margin: auto;
  display: flex;
}
.main {
  width: 1248px;
  margin: auto;
  display: grid;
  grid-gap: 60px;
  grid-template-columns: 1fr 1fr;
}

.orders {
  width: 608px;
}

.list_orders {
  composes: custom-scroll from global;
  scrollbar-width: thin;
  overflow-y: scroll;
  max-height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  list-style: none;
  composes: mr-2 from global;
}

.link {
  text-decoration: none;
  color: white;
}

.statistics {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.orders_board {
  display: flex;
  gap: 36px;
  justify-content: space-between;
}

.status {
  width: 272px;
}

.title {
  composes: text_type_main-medium from global;
}

.count {
  composes: text_type_digits-large from global;
  text-shadow: 0px 4px 32px #3333ff80;
}

.list_status {
  display: flex;
  flex-direction: column;
  gap: 8px;
  composes: mt-6 from global;
  column-count: 2;
  flex-wrap: wrap;
  max-height: 313px;
}
.order_done {
  list-style: none;
  composes: text_type_digits-default text_color_success from global;
}

.order_pending {
  list-style: none;
  composes: text_type_digits-default from global;
}
