.card {
  margin: auto;
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  composes: ml-5 mr-5 mb-4 from global;
}

.title {
  text-align: center;
  composes: text_type_main-medium mb-8 from global;
}

.nutrition_values {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  composes: text_color_inactive from global;
}

.nutrients {
  height: 56px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.nutrient_name {
  composes: text_type_main-default from global;
}

.nutrient_value {
  composes: text_type_digits-default from global;
}
