.card {
  margin: auto;
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.amount {
  composes: text_type_digits-default from global;
}

.order_inModal {
  composes: amount;
  position: absolute;
  top: 60px;
}

.order_inPage {
  composes: amount;
  composes: mb-5 from global;
  text-align: center;
}

.info {
  composes: mt-5 mb-15 from global;
}

.title {
  composes: text_type_main-medium text_color_primary from global;
}

.status_pending {
  composes: mt-3 text_type_main-default from global;
}
.status_done {
  composes: status_pending;
  composes: text_color_success from global;
}

.list {
  composes: mt-6 mb-3 pb-1 custom-scroll from global;
  overflow-y: scroll;
  max-height: 304px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ingredients {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
  composes: mr-6 from global;
}

.name {
  width: 320px;
  composes: text_type_main-default from global;
}

.cost {
  display: flex;
  gap: 6px;
  width: 192px;
  justify-content: end;
}

.total {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 24px;
}

.time {
  align-items: end;
  composes: text_type_main-default text_color_inactive from global;
}
