.block {
  width: 600px;
  composes: pt-10 from global;
}

.title {
  width: 100%;
  height: 40px;
  composes: text_type_main-large mb-5 from global;
}

.tab {
  display: flex;
  composes: mb-10 from global;
}

.ingredients {
  overflow-y: scroll;
  max-height: calc(100vh - 350px);
  composes: custom-scroll from global;
  scrollbar-width: thin;
}
