.order {
  width: 860px;
  composes: mt-10 from global;
}

.list_orders {
  composes: custom-scroll from global;
  overflow-y: scroll;
  max-height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  list-style: none;
  composes: mr-2 from global;
}

.link {
  text-decoration: none;
  color: white;
}
